/node_modules
/public/build
/public/hot
/public/uploads
/public/storage
/storage/*.key
/public/json/*
/vendor
.env
.env.live
.env.live3
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.env.live2
.env.local
pnpm-lock.yaml
composer.lock
composer.lock
pnpm-lock.yaml
*.lock

pnpm-lock.yaml
composer.lock
